html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #212121;
  }
  
.container {
  display: flex;
  flex-direction: column;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/188/153/non_2x/seamless-pattern-doodle-many-icons-of-books-scattered-background-for-education-elearning-school-concept-pile-of-paper-books-open-book-book-on-computer-screen-ebooks-glasses-heart-vector.jpg');
    background-size: cover; 
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    /* Add other styles as needed */
}
  
  .input-field {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: white;
  }
  
  .submit {
    width: max-content;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
  }
  
  .submit:hover {
    background-color: #0056b3;
  }
  
  #details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .existing_group_details{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  #existing_groups{
    width: 82%;
    height: max-content;
    padding: 2px;
    border-radius: 5px;
    background-color: #1f49a9;
    color: white;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 10px;
  }