html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
.container {
  display: flex;
  flex-direction: column;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    background-color: #212121;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    /* Add other styles as needed */
}
#form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
textarea{
 display: flex;
 flex-wrap: wrap;
 min-width: 50%;
 min-height: 5%;
 padding: 5px;
 color: white;
 font-size: 20px;
}

#submit-button:hover{
  transform: scale(1.1);
  transition: transform 3 ease-in;
}
#Acocunts{
  display: flex;
  flex-direction: column;
  width: 50%;
  
}